@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');

body, html {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  display: table;
  font-family: Georgia, serif;
  font-size: 24px;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 20px solid #83D0E6;
  width: 750px;
  height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  color: #83D0E6;
}

.marquee {
  color: #83D0E6;
  font-size: 48px;
  margin: 20px;
}
.assignment {
  margin: 20px;
}
.person {
  border-bottom: 2px solid black;
  font-size: 32px;
  font-style: italic;
  margin: 20px auto;
  width: 400px;
}
.reason {
  margin: 20px;
}